name: test-my-app
on: [push, workflow_dispatch]
jobs:
  all_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
      - run: sh scripts.sh test